body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#imagem-espelho {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.imagem-espelho {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.resultados {
    text-align: center;
}

.resultados p {
    font-size: 18px;
    color: #555;
}

.imagem-espelho {
    transition: transform 0.3s ease-in-out;
}

.imagem-espelho:hover {
    transform: scale(1.05); 
}
